/* classe css para 
alteração da cor do 
fundo menu */
.menu{
    display: flex;
    justify-content: space-between;
}
/* Id usando para 
apontar em o stylo de 
pagina unicamente em 
um elemetento */
#link-a{
    color: darkgoldenrod;
}
a{
    color: rgb(13, 13, 13);
    font-size: 28px;
    font-family: "Fira Sans";
}

.navegador{
    display: flex;
    justify-content: space-between;
    width: 44%;
}

.conteudo{
    font-size: 40px;
    padding: 7px;
    font-family: "Ponomar", system-ui;
    margin-top: 100px;
    margin-bottom: 210px;
   
    height: 100px;
    text-align: center;

}

.subConteudo{
    font-size: 24px;
}

label{
    font-size: large;
}
.botao-enviar{
 background: #4bbd2e;
 color: white;
 border-radius: 40px;
}
#send-button{
    width: 25px;
    height: 25px;
}

input{
    border-radius: 3px;
    border: #464646;
    height: 36px;
    width: 250px;
}
.ferrameta, li{

text-align-last: center;
}
img{
    width: 10rem;
    height: 10rem;
}
#stacks{
    display: flex;
   
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

footer{
    font-size: 12px;
}